extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.main
		.bg-1
		.bg-2

		.container
			.logo
				img(src="img/logo.svg" alt="logo")

			.content
				.items
					.item
						a.item__img(href="#")
							span.item__price
								img(src="img/price-free.png")
							img.item__image(src="images/item-1.jpg")
						a.item__title(href="#")
							| Красиво не значит удобно! 12 шагов на пути к дизайну эффективного лендинга
							img(src="img/arrow.png")
					.item
						a.item__img(href="#")
							span.item__price
								img(src="img/price-700.png")
							img.item__image(src="images/item-2.jpg")
						a.item__title(href="#")
							| Для тех, кто хочет научиться разговаривать с заказчиком <br> на одном языке
							img(src="img/arrow.png")
					.item
						a.item__img(href="#")
							span.item__price
								img(src="img/price-free.png")
							img.item__image(src="images/item-3.jpg")
						a.item__title(href="#")
							| Для тех, кто хочет научиться разговаривать с заказчиком <br> на одном языке
							img(src="img/arrow.png")

			.footer
				span © 2020. Onfreelance.Pro. Все права защищены